body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
/*container */
.container{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 10px 0px black;

}
/* menu */
.menu{
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 10px;
}
.menu a{
    text-decoration: none;
    font-size: 18px;
}
.menu li a:hover{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 50px;
    color: antiquewhite;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
}
.benner img{
    margin-top: 10px;
    width: 100px;
}
/* product */
.product img{
    display: flex;
}
  .product .card{
    width: 300px;
    background-color: aqua;
    box-shadow: 0px 0px 5px 0px black;
  }

